.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 3rem;
  margin-left: 8%;
  padding-left: 0;
}

.card {
  display: flex;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.button{
  height: 15px;
  width: auto;
  color: blue;
}

.inputForm {
  text-align: center;
  margin: 50px;
}

.box{
  font-size: larger;
}

.imgCont{
  background-color: grey;
  position: relative;
  margin: 0.5rem;
  /* flex-basis: 1%; */
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.img{
  height: 250px;
  width: 240px;
}

.layout{
  display: flex;
  flex-direction: column;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
